<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webmaster</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com/3.3.1"></script>
    <style>
        * {font-family: sans-serif;}
        th, td {
            border: 2px solid lightgray;
        }
    </style>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>
    <div id="app" class="max-w-screen-lg m-auto">
        <div class="navbar bg-base-100">
            <div class="navbar-start">
                <router-link to="/" class="btn btn-ghost normal-case tex
t-xl">Home</router-link>
            </div>
            <!-- <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><router-link to="/" :class="{'active': $route
.path == '/'}"></router-link></li>
            </ul>
            </div> -->
            <div class="navbar-end">
                <ul class="menu menu-horizontal px-1">
                    <li v-if="is_prod && !has_token"><span id="buttonContainerId"></span></li>
                    <li v-if="!is_prod"><router-link to="/token" class="link text-sm">токен</router-link></li>
                    <li v-if="has_token"><a href="" @click.prevent="logout" class="text-sm">Выход</a></li>
                </ul>

                <!-- <ul class="menu menu-horizontal px-1">
                    <li tabindex="0">
                        <details>
                            <summary>{{ projectName }}</summary>
                            <ul class="p-2">
                                <li v-for="project in projects">
                                    <a :href="'?project=' + project">{{
project }}</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul> -->
            </div>
        </div>
        <router-view></router-view>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.2.1/dist/vue-router.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-demi@0.14.5/lib/index.iife.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pinia@2.1.3/dist/pinia.iife.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <script type="module">
        const { createRouter, createWebHistory, createWebHashHistory } = VueRouter
        import { createORM, Model, useRepo, mapRepos, Repository } from 'https://cdn.jsdelivr.net/npm/pinia-orm@1.6.7/+esm';
        import createPersistPlugin from 'https://bloogrox.github.io/pinia-local-storage-plugin/index.js';


        const ya_auth_init_config = {
            client_id: 'ccba5862126b4b2aba1261e5dfd5165d',
            response_type: 'token',
            redirect_uri: 'https://bloogrox.github.io/webmaster/auth.html'
        }

        const ya_auth_button_config = {
            view: "button",
            parentId: "buttonContainerId",
            buttonSize: 'm',
            buttonView: 'icon',
            buttonTheme: 'light',
            buttonBorderRadius: "0",
            buttonIcon: 'ya',
        }

        function is_prod() {
            return window.location.hostname.includes('bloogrox.github.io')
        }

        function colorByPosition(pos, prev_pos) {

            const change = prev_pos - pos

            if (!pos) {
                return '#f6e9c5'
            }
            else if (pos >= 1 & pos < 2) {  // TOP 1
                return '#a3d1ee'
            }
            else if (pos >= 2 & pos < 4) {  // TOP 2,3
                return '#b4d9f1'
            }
            else if (pos >= 4 & pos < 6) {  // TOP 4,5
                return '#99e4b9'
            }
            else if (pos >= 6 & pos < 11) {  // TOP 6-10
                return '#c8f0da'
            }
            else if (pos >= 11 & pos < 101 && prev_pos < 11) {  // TOP 10 -> TOP 100
                return '#fbe1df'
            }
            else if (pos >= 11 && pos < 101 && change <= 0) {  // fall inside TOP 100
                return '#fff'
            }
            else if (pos >= 11 && pos < 101 && change > 0) {  // rise inside TOP 100
                return '#edf9f3'
            }
            else {
                return '#fff'
            }
        }

        // const formatDateMixin = {
        //     methods: {
        //         formatDate(dateString) {
        //             const date = dayjs(dateString);
        //             return date.format('DD-MM-YYYY');
        //         }
        //     }
        // }


        /*** Project */
        function getProjectName() {
            let urlParams = new URLSearchParams(window.location.search);
            return urlParams.has("project") ? urlParams.get("project") : "default";
        }


        /*** Pinia */
        const pinia = Pinia.createPinia();

        pinia.use(createPersistPlugin({bucket: getProjectName()}));


        /***
         * Storage
         */
        const pStore = Pinia.defineStore('project', {
            state: () => ({
                token: ""
            })
        })


        /*** ORM Init **/
        // const orm_config = {
        //     model: {
        //         withMeta: true,
        //         hidden: [],
        //         visible: ['*']
        //     }
        // }
        // pinia.use(createORM(orm_config));


        /***************************************************
         *
         * ORM Models
         *
         * */

        // class Outcome extends Model {

        //     static entity = 'outcomes'

        //     static hidden = []

        //     static fields () {
        //         return {
        //             id: this.uid(),
        //             title: this.string(''),

        //             // thoughts: this.hasMany(Thought, 'problem_id').onDelete('cascade'),
        //         }
        //     }
        // }

        // class StatsRepo extends Repository {

        //     use = Stats

        //     getNewestDate() {
        //         return {queries: []}  // .orderBy('date', 'desc').first()
        //     }

        //     getSearchQueries(){
        //         return this.getNewestDate().queries.toSorted(x => x.indicators.AVG_SHOW_POSITION)
        //     }

        //     getDates() {
        //         return []  // .orderBy('date', 'desc')
        //     }

        // }

        /***************************************************
         *
         * Components
         *
         */

        const Home = {
            data() {
                return {
                    user_id: null,
                    hosts: [],
                }
            },
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
            },
            created() {
                if (this.token.length) {
                    const yandex = is_prod() ? new YandexWebmaster(this.token) : new YandexWebmasterStub()

                    yandex.getUserId()
                        .then(r => r.json())
                        .then(b => {
                            this.user_id = b.user_id

                            yandex.getHosts(b.user_id)
                                .then(r => r.json())
                                .then(x => { this.hosts = x["hosts"] })
                        })
                }
            },
            template: `
                <div>
                    <div class="mt-10">
                        <h1 class="text-3xl">Хосты</h1>
                        <div class="mt-5">
                            <div class="flex flex-row flex-wrap gap-5">
                                <div v-for="host in hosts" class="w-48 p-4 bg-slate-500 text-white rounded-xl">
                                    <router-link :to="'/hosts/' + user_id + '/' + host.host_id" class="">
                                        {{ host.unicode_host_url }}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `
        }

        function filter_First_Field(arr, filterFn, field) {
            const res = arr.filter(filterFn)
            if (res.length > 0) {
                return res[0][field]
            }
            return null
        }

        const HostComp = {
            data() {
                return {
                    sort_column: null,
                    sort_direction: 'asc',
                    data: [],
                    regions: [],
                    selected_region: "",
                    loading: false,
                }
            },
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
                user_id() {
                    return this.$route.params.user_id
                },
                host_id() {
                    return this.$route.params.host_id
                },
                days() {
                    if (this.data.length) {
                        return (
                            [... new Set(
                                this.data[0].statistics.map(x => x.date)
                            )]
                            .toSorted((a, b) => b.localeCompare(a))
                        )
                    }

                    return []
                },
                report() {
                    const keywords = this.data.map(x => x.text_indicator.value)

                    const result = []

                    keywords.forEach(k => {
                        const row = {
                            keyword: k,
                        }
                        this.days.forEach(date => {
                            row[date] = this.findStats(k, date)
                            const prev_day = dayjs(date).subtract(1, "day").format("YYYY-MM-DD")
                            const prev_day_stats = this.findStats(k, prev_day)
                            row[date].change = prev_day_stats.position ? row[date].position - prev_day_stats.position : 0
                            row[date].color = colorByPosition(row[date].position, prev_day_stats.position)
                        })
                        result.push(row)
                    })

                    if (this.sort_column) {
                        return result.toSorted((a, b) => {
                            const m = this.sort_direction == 'asc' ? 1 : -1
                            return (a[this.sort_column].position - b[this.sort_column].position) * m
                        })
                    }

                    return result
                },
            },
            methods: {
                findStats(keyword, date) {
                    const res = this.data.filter(x => x.text_indicator.value==keyword)

                    if (res.length > 0) {
                        return {
                            position: filter_First_Field(res[0]["statistics"].filter(x => x.date==date), x => x["field"] == "POSITION", "value"),
                            clicks: filter_First_Field(res[0]["statistics"].filter(x => x.date==date), x => x["field"] == "CLICKS", "value"),
                            ctr: filter_First_Field(res[0]["statistics"].filter(x => x.date==date), x => x["field"] == "CTR", "value"),
                            impressions: filter_First_Field(res[0]["statistics"].filter(x => x.date==date), x => x["field"] == "IMPRESSIONS", "value"),
                            demand: filter_First_Field(res[0]["statistics"].filter(x => x.date==date), x => x["field"] == "DEMAND", "value"),
                        }
                    }

                    return {}
                },
                sort(day) {
                    if (this.sort_column == day) {
                        this.sort_direction = this.sort_direction == 'asc' ? 'desc' : 'asc'
                    }
                    else {
                        this.sort_column = day
                    }
                },
                change_region() {
                    this.reload_stats()
                },
                reload_stats() {
                    // fetch data from yandex
                    if (this.token.length) {

                        const yandex = is_prod() ? new YandexWebmaster(this.token) : new YandexWebmasterStub()

                        let params = {}
                        if (this.selected_region) {
                            params.region_ids = [this.selected_region]
                        }

                        this.loading = true

                        yandex.getQueryAnalytics(this.user_id, this.host_id, params)
                            .then(response => response.json())
                            .then(x => {
                                console.log(x)

                                this.data = x.text_indicator_to_statistics
                            })
                            .catch(error => { console.log(error) })
                            .finally(() => { this.loading = false })
                    }
                }
            },
            created() {

                this.reload_stats()

                fetch("https://bloogrox.github.io/webmaster/regions.json")
                    .then(response => response.json())
                    .then(x => {
                        this.regions = (
                            Object.entries(x)
                            .map(([k, v]) => {return {id: k, name: v}})
                        )
                    })
            },
            template: `
                <div>
                    <div class="mt-10">
                        <div>
                            <span>
                                <select v-model="selected_region" @change="change_region" class="select select-bordered">
                                    <option value="">Регион</option>
                                    <option v-for="region in regions" :value="region.id">{{ region.name }}</option>
                                </select>
                            </span>
                            <span v-if="loading" class="ml-3 loading loading-bars loading-md"></span>
                        </div>
                        <div class="mt-5">
                            <div class="flex flex-col h-screen">
                            <div class="flex-grow overflow-auto">
                            <table class="table table-zebra relative w-full border">
                                <thead>
                                    <tr>
                                        <th class="sticky top-0 bg-white min-w-full w-96 max-w-sm">Запросы</th>
                                        <th v-for="day in days" class="sticky top-0 bg-white" :class="{'bg-gray-100': sort_column == day, 'text-black': sort_column == day}">
                                            <a href="" @click.prevent="sort(day)">{{ day }}</a>
                                            <span v-if="sort_column == day">
                                                <span v-if="sort_direction == 'asc'">&darr;</span>
                                                <span v-else>&uarr;</span>
                                            </span>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in report">
                                        <td class="sticky left-0 bg-white py-2 min-w-full w-96 max-w-sm">{{ row.keyword }}</td>
                                        <td v-for="day in days"
                                            class="p-1"
                                            :style="{'background-color': row[day].color}"
                                            >
                                            <div class="whitespace-nowrap" v-if="row[day].position">
                                                <div class="grid grid-cols-2 gap-1">
                                                    <div class="text-center">
                                                        <span class="text-lg">{{ +row[day].position.toFixed(1) }}</span>
                                                        <sup v-if="Math.abs(row[day].change) >= 1"
                                                            class=""
                                                            :class="{'text-green-600': row[day].change < 0, 'text-red-600': row[day].change > 0}"
                                                            >
                                                            <span v-if="row[day].change < 0">&uarr;</span>
                                                            <span v-if="row[day].change > 0">&darr;</span>
                                                            {{ +Math.abs(row[day].change).toFixed(1) }}
                                                        </sup>
                                                    </div>
                                                    <div class="text-xs text-gray-500">
                                                        <div>кл: {{ row[day].clicks }}</div>
                                                        <div>пок.: {{ row[day].impressions }}</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div v-else class="text-center">–</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            `
        }

        const TokenComp = {
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
            },
            template: `
                <div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Введите токен</span>
                        </label>
                        <input type="text" v-model="token" class="input input-bordered w-full">
                    </div>
                </div>
            `
        }


        /***************************************************
         *
         * Ext
         *
         */
        class YandexWebmaster {

            backend_url = 'https://putridsmallfilesize--bloogrox.repl.co'
            api_url = 'https://api.webmaster.yandex.net/v4/'

            constructor(token) {
                this.token = token
            }

            getUserId() {
                const url = this.api_url + 'user'
                const options = {
                    headers: {
                        Authorization: 'OAuth ' + this.token
                    },
                    mode: "cors",
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)
            }

            getHosts(user_id) {
                const url = this.api_url + 'user/' + user_id + '/hosts'
                const options = {
                    headers: {
                        Authorization: 'OAuth ' + this.token
                    },
                    mode: "cors",
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)
            }

            getPopularQueries(user_id, host_id, date) {
                // const url = this.api_url + 'user/' + user_id + '/hosts/' + host_id + '/search-queries/popular'
                const url = `${this.api_url}user/${user_id}/hosts/${host_id}/search-queries/popular?date_from=${date}&date_to=${date}&order_by=TOTAL_SHOWS&device_type_indicator=ALL&limit=100&query_indicator=AVG_SHOW_POSITION&query_indicator=TOTAL_CLICKS&query_indicator=TOTAL_SHOWS`

                const options = {
                    headers: {
                        Authorization: 'OAuth ' + this.token
                    },
                    mode: "cors",
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)
            }


            validateQueryAnalyticsParams(params) {
                return []
            }

            /**
            * https://yandex.ru/dev/webmaster/doc/dg/reference/host-query-analytics.html
            */
            getQueryAnalytics(user_id, host_id, params) {
                const url = `${this.api_url}user/${user_id}/hosts/${host_id}/query-analytics/list`

                const defaultParams = {
                    device_type_indicator: "ALL",
                    limit: 100
                }

                const errors = this.validateQueryAnalyticsParams(params)
                if (errors.length) {
                    throw new Error(errors[0]);
                }

                const data = Object.assign({}, defaultParams, params)

                const options = {
                    method: "POST",
                    headers: {
                        Authorization: 'OAuth ' + this.token,
                        "Content-Type": "application/json",
                    },
                    mode: "cors",
                    body: JSON.stringify(data)
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)

            }
        }


        function generateRandomString(length) {
            let result = '';
            const characters = 'abcdefghijklmnopqrstuvwxyz';
            const charactersLength = characters.length;
            for (let i = 0; i < length; i++) {
                result += characters.charAt(Math.floor(Math.random() * charactersLength));
            }
            return result;
        };

        function generateRandomSentence(length) {
            return (
                [...Array(length)]
                .map(_ => generateRandomString(Math.floor(Math.random() * 7 + 3)))
                .join(' ')
            )
        }

        /*******************************
         *
         * Webmaster Stub
         *
         */
        class YandexWebmasterStub {

            getUserId() {
                const data = {
                    user_id: 9793111
                }

                return new Promise((resolve) => { resolve(Response.json(data)) })
            }

            getHosts(user_id) {
                const data = {
                    "hosts": [
                        {
                            "host_id": "https:eleganty.ru:443",
                            "ascii_host_url": "https://eleganty.ru/",
                            "unicode_host_url": "https://eleganty.ru/",
                            "verified": true,
                            "main_mirror": null
                        },
                        {
                            "host_id": "http:eleganty.ru:80",
                            "ascii_host_url": "http://eleganty.ru/",
                            "unicode_host_url": "http://eleganty.ru/",
                            "verified": true,
                            "main_mirror": null
                        },
                        {
                            "host_id": "http:unilook.ru:80",
                            "ascii_host_url": "http://unilook.ru/",
                            "unicode_host_url": "http://unilook.ru/",
                            "verified": true,
                            "main_mirror": null
                        }
                    ]
                }

                return new Promise((resolve) => { resolve(Response.json(data)) })
            }

            getPopularQueries(user_id, host_id, date) {
                const data = {
                    "count": 2,
                    "date_from": date,
                    "date_to": date,
                    "queries": [
                        {
                            "query_id": "ecec0d42afb22f45",
                            "query_text": "цвет волос 2017 модные",
                            "indicators": {
                                "AVG_SHOW_POSITION": Math.round(Math.random() * 100),
                                "TOTAL_CLICKS": Math.round(Math.random() * 20),
                                "TOTAL_SHOWS": Math.round(Math.random() * 200),
                            }
                        },
                        {
                            "query_id": "82dec103cd0c7d34",
                            "query_text": "пыльник женский летний",
                            "indicators": {
                                "AVG_SHOW_POSITION": Math.round(Math.random() * 100),
                                "TOTAL_CLICKS": Math.round(Math.random() * 20),
                                "TOTAL_SHOWS": Math.round(Math.random() * 200),
                            }
                        }
                    ]
                }

                return new Promise((resolve) => { resolve(Response.json(data)) })
            }

            validateQueryAnalyticsParams(params) {
                return [
                    // 'param1 error, should be ...',
                    // 'param-2 error',
                ]
            }

            getQueryAnalytics(user_id, host_id, params) {

                const errors = this.validateQueryAnalyticsParams(params)
                if (errors.length) {
                    throw new Error(errors[0]);
                }

                const data = {
                    count: 2,
                    text_indicator_to_statistics: [
                        {
                            "text_indicator": {
                                "type": "QUERY",
                                "value": "чем берется булочка руками или салфеткой"
                            },
                            "statistics": [
                                {
                                    "date": "2023-10-31",
                                    "field": "POSITION",
                                    "value": 50
                                },
                                {
                                    "date": "2023-10-31",
                                    "field": "CLICKS",
                                    "value": 0.0
                                },
                                {
                                    "date": "2023-10-31",
                                    "field": "IMPRESSIONS",
                                    "value": 0.0
                                },
                                {
                                    "date": "2023-11-01",
                                    "field": "CLICKS",
                                    "value": 0.0
                                },
                                {
                                    "date": "2023-11-01",
                                    "field": "IMPRESSIONS",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-01",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-02",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-03",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-04",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-05",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-06",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-07",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-08",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-09",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-10",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                                {
                                    "date": "2023-11-11",
                                    "field": "POSITION",
                                    "value": Math.round(Math.random() * 100)
                                },
                            ]
                        },
                        {
                            "text_indicator": {
                                "value": "аутлет серравалле адрес"
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                        {
                            "text_indicator": {
                                "value": generateRandomSentence(5)
                            },
                            "statistics": []
                        },
                    ]
                }

                return new Promise((resolve) => {
                    setTimeout(
                        () => { resolve(Response.json(data)) },
                        1000
                    )
                })
            }
        }

        /***************************************************
         *
         * Router
         *
         **/
         const router = createRouter({
            history: createWebHashHistory(),
            routes: [
                { path: '/', component: Home },
                { path: '/token', component: TokenComp },
                { path: '/hosts/:user_id/:host_id', component: HostComp },
            ],
        });


        const rootComp = {
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
                projectName() {
                    return getProjectName()
                },
                projects() {
                    return Object.keys(localStorage).filter(x => x != this.projectName)
                },
                has_token() {
                    return this.token.length > 0
                },
                is_prod() {
                    return is_prod()
                }
            },
            methods: {
                logout() {
                    this.token = ''
                },
            },
            mounted() {
                console.log("is prod", is_prod())
                // const hosts = api.getHosts()
                // console.log(hosts)
                // const api = new YandexWebmasterStub()
                // api.getQueryAnalytics()
                //     .then(data => data.json())
                //     .then(console.log)


                if (is_prod() && !this.has_token) {
                    window.YaAuthSuggest.init(
                        ya_auth_init_config,
                        'https://bloogrox.github.io',
                        ya_auth_button_config
                    )
                    .then(({handler}) => handler())
                    .then(data => {
                        // console.log('Сообщение с токеном', data)
                        this.token = data.access_token

                        router.go()
                    })
                    .catch(error => console.log('Обработка ошибки', error))
                }
            },
            created() {
                if (!this.has_token) {
                    console.log("token is empty")
                }
            }
        }


        const app = Vue.createApp(rootComp);
        app.use(pinia);
        app.use(router);
        app.mount("#app");
    </script>
</body>
</html>