<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webmaster</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@3.5.1/dist/full.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com/3.3.1"></script>
    <style>
        * {font-family: sans-serif;}
    </style>
    <script src="https://yastatic.net/s3/passport-sdk/autofill/v1/sdk-suggest-with-polyfills-latest.js"></script>
</head>
<body>
    <div id="app" class="max-w-screen-lg m-auto">
        <div class="navbar bg-base-100">
            <div class="navbar-start">
                <router-link to="/" class="btn btn-ghost normal-case tex
t-xl">Home</router-link>
            </div>
            <!-- <div class="navbar-center hidden lg:flex">
            <ul class="menu menu-horizontal px-1">
                <li><router-link to="/" :class="{'active': $route
.path == '/'}"></router-link></li>
            </ul>
            </div> -->
            <div class="navbar-end">
                <ul class="menu menu-horizontal px-1">
                    <li v-if="is_prod && !has_token"><span id="buttonContainerId"></span></li>
                    <li v-if="!is_prod"><router-link to="/token" class="link text-sm">токен</router-link></li>
                    <li v-if="has_token"><a href="" @click.prevent="logout" class="text-sm">Выход</a></li>
                </ul>

                <!-- <ul class="menu menu-horizontal px-1">
                    <li tabindex="0">
                        <details>
                            <summary>{{ projectName }}</summary>
                            <ul class="p-2">
                                <li v-for="project in projects">
                                    <a :href="'?project=' + project">{{
project }}</a>
                                </li>
                            </ul>
                        </details>
                    </li>
                </ul> -->
            </div>
        </div>
        <router-view></router-view>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@3.3.4/dist/vue.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-router@4.2.1/dist/vue-router.global.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-demi@0.14.5/lib/index.iife.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pinia@2.1.3/dist/pinia.iife.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>

    <script type="module">
        const { createRouter, createWebHistory, createWebHashHistory } = VueRouter
        import { createORM, Model, useRepo, mapRepos, Repository } from 'https://cdn.jsdelivr.net/npm/pinia-orm@1.6.7/+esm';
        import createPersistPlugin from 'https://bloogrox.github.io/pinia-local-storage-plugin/index.js';


        const ya_auth_init_config = {
            client_id: 'ccba5862126b4b2aba1261e5dfd5165d',
            response_type: 'token',
            redirect_uri: 'https://bloogrox.github.io/webmaster/auth.html'
        }

        const ya_auth_button_config = {
            view: "button",
            parentId: "buttonContainerId",
            buttonSize: 'm',
            buttonView: 'icon',
            buttonTheme: 'light',
            buttonBorderRadius: "0",
            buttonIcon: 'ya',
        }

        function is_prod() {
            return window.location.hostname.includes('bloogrox.github.io')
        }

        // const formatDateMixin = {
        //     methods: {
        //         formatDate(dateString) {
        //             const date = dayjs(dateString);
        //             return date.format('DD-MM-YYYY');
        //         }
        //     }
        // }


        /*** Project */
        function getProjectName() {
            let urlParams = new URLSearchParams(window.location.search);
            return urlParams.has("project") ? urlParams.get("project") : "default";
        }


        /*** Pinia */
        const pinia = Pinia.createPinia();

        pinia.use(createPersistPlugin({bucket: getProjectName()}));


        /***
         * Storage
         */
        const pStore = Pinia.defineStore('project', {
            state: () => ({
                token: ""
            })
        })


        /*** ORM Init **/
        // const orm_config = {
        //     model: {
        //         withMeta: true,
        //         hidden: [],
        //         visible: ['*']
        //     }
        // }
        // pinia.use(createORM(orm_config));


        /***************************************************
         *
         * ORM Models
         *
         * */

        // class Outcome extends Model {

        //     static entity = 'outcomes'

        //     static hidden = []

        //     static fields () {
        //         return {
        //             id: this.uid(),
        //             title: this.string(''),

        //             // thoughts: this.hasMany(Thought, 'problem_id').onDelete('cascade'),
        //         }
        //     }
        // }

        // class StatsRepo extends Repository {

        //     use = Stats

        //     getNewestDate() {
        //         return {queries: []}  // .orderBy('date', 'desc').first()
        //     }

        //     getSearchQueries(){
        //         return this.getNewestDate().queries.toSorted(x => x.indicators.AVG_SHOW_POSITION)
        //     }

        //     getDates() {
        //         return []  // .orderBy('date', 'desc')
        //     }

        // }

        /***************************************************
         *
         * Components
         *
         */

        const Home = {
            data() {
                return {
                    user_id: null,
                    hosts: [],
                }
            },
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
            },
            created() {
                if (this.token.length) {
                    const yandex = is_prod() ? new YandexWebmaster(this.token) : new YandexWebmasterStub()

                    yandex.getUserId()
                        .then(r => r.json())
                        .then(b => {
                            this.user_id = b.user_id

                            yandex.getHosts(b.user_id)
                                .then(r => r.json())
                                .then(x => { this.hosts = x["hosts"] })
                        })
                }
            },
            template: `
                <div>
                    <div class="mt-10">
                        <h1 class="text-3xl">Хосты</h1>
                        <div class="mt-5">
                            <div class="flex flex-row flex-wrap gap-5">
                                <div v-for="host in hosts" class="w-48 p-4 bg-slate-500 text-white rounded-xl">
                                    <router-link :to="'/hosts/' + user_id + '/' + host.host_id" class="">
                                        {{ host.unicode_host_url }}
                                    </router-link>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            `
        }

        const HostComp = {
            data() {
                return {
                    sort_column: null,
                    sort_direction: 'asc',
                    data: [],
                }
            },
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
                user_id() {
                    return this.$route.params.user_id
                },
                host_id() {
                    return this.$route.params.host_id
                },
                days() {
                    const days_in_report = 7
                    const days_offset = 2

                    return [...Array(days_in_report).keys()]
                        .map(x => {
                            return dayjs()
                                .subtract(days_offset + x, "day")
                                .format("YYYY-MM-DD")
                        })
                },
                report() {
                    const keywords = new Set(this.data.map(x => x.keyword))

                    const result = []

                    keywords.forEach(k => {
                        const row = {
                            keyword: k,
                        }
                        this.days.forEach(date => {
                            row[date] = this.findStats(k, date)
                            const prev_day = dayjs(date).subtract(1, "day").format("YYYY-MM-DD")
                            const prev_day_stats = this.findStats(k, prev_day)
                            row[date].change = prev_day_stats.position ? row[date].position - prev_day_stats.position : 0
                        })
                        result.push(row)
                    })

                    return result.toSorted((a, b) => {
                        const m = this.sort_direction == 'asc' ? 1 : -1
                        return (a[this.sort_column].position - b[this.sort_column].position) * m
                    })
                },
            },
            methods: {
                findStats(keyword, date) {
                    const res = this.data.filter(x => x.keyword==keyword && x.date==date)

                    if (res.length > 0) {
                        return {
                            position: res[0].position,
                            clicks: res[0].clicks,
                        }
                    }

                    return {}
                },
                getClassCfg(num) {
                    const conf = [
                        {upper_bound: 1, class: "bg-blue-300"},
                        {upper_bound: 2, class: "bg-blue-200"},
                        {upper_bound: 3, class: "bg-blue-100"},
                        {upper_bound: 4, class: "bg-green-300"},
                        {upper_bound: 5, class: "bg-green-200"},
                        {upper_bound: 6, class: "bg-green-100"},
                        {upper_bound: 10, class: "bg-pink-100"},
                        {upper_bound: 20, class: "bg-pink-100"},
                        {upper_bound: 50, class: "bg-pink-200"},
                        {upper_bound: 100, class: "bg-yellow-100"},
                        {upper_bound: 500, class: "bg-yellow-100"},
                        {upper_bound: 1000, class: "bg-yellow-100"},
                    ]

                    for (const item of conf) {
                        if (num <= item.upper_bound) {
                            return {[item.class]: true}
                        }
                    }

                    return {}
                },
                sort(day) {
                    if (this.sort_column == day) {
                        this.sort_direction = this.sort_direction == 'asc' ? 'desc' : 'asc'
                    }
                    else {
                        this.sort_column = day
                    }
                }
            },
            created() {
                // setup sort column
                this.sort_column = this.days[0]

                // fetch data from yandex
                if (this.token.length) {
                    const yandex = is_prod() ? new YandexWebmaster(this.token) : new YandexWebmasterStub()

                    this.days.forEach(date => {
                        yandex.getPopularQueries(this.user_id, this.host_id, date)
                            .then(response => response.json())
                            .then(x => {
                                console.log(x)

                                x.queries.forEach(item => {
                                    const row = {
                                        keyword: item.query_text,
                                        date: date,
                                        position: item.indicators.AVG_SHOW_POSITION,
                                        clicks: item.indicators.TOTAL_CLICKS,
                                    }

                                    this.data.push(row)
                                })
                            })
                            .catch(error => { console.log(error) })
                    })
                }
            },
            template: `
                <div>
                    <div class="mt-10">
                        <div class="">
                            <table class="table table-zebra">
                                <thead>
                                    <tr>
                                        <th>Запросы</th>
                                        <th v-for="day in days" class="w-10" :class="{'bg-gray-100': sort_column == day}">
                                            <a href="" @click.prevent="sort(day)">
                                                {{ day }}
                                            </a>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="row in report">
                                        <td>{{ row.keyword }}</td>
                                        <td v-for="day in days" :class="getClassCfg(row[day].position)">
                                            <div class="whitespace-nowrap" v-if="row[day].position">
                                                <span class="text-xl">{{ row[day].position }}</span>
                                                <sup v-if="row[day].change != 0" class="ml-1 text-xs" :class="{'text-green-600': row[day].change < 0,'text-red-600': row[day].change > 0}">{{ row[day].change }}</sup>
                                                <span class="ml-2 text-xs text-gray-400">cl: {{ row[day].clicks }}</span>
                                            </div>
                                            <div v-else class="text-center">–</div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            `
        }

        const TokenComp = {
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
            },
            template: `
                <div>
                    <div class="form-control">
                        <label class="label">
                            <span class="label-text">Введите токен</span>
                        </label>
                        <input type="text" v-model="token" class="input input-bordered w-full">
                    </div>
                </div>
            `
        }


        /***************************************************
         *
         * Ext
         *
         */
        class YandexWebmaster {

            backend_url = 'https://putridsmallfilesize--bloogrox.repl.co'
            api_url = 'https://api.webmaster.yandex.net/v4/'

            constructor(token) {
                this.token = token
            }

            getUserId() {
                const url = this.api_url + 'user'
                const options = {
                    headers: {
                        Authorization: 'OAuth ' + this.token
                    },
                    mode: "cors",
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)
            }

            getHosts(user_id) {
                const url = this.api_url + 'user/' + user_id + '/hosts'
                const options = {
                    headers: {
                        Authorization: 'OAuth ' + this.token
                    },
                    mode: "cors",
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)
            }

            getPopularQueries(user_id, host_id, date) {
                // const url = this.api_url + 'user/' + user_id + '/hosts/' + host_id + '/search-queries/popular'
                const url = `${this.api_url}user/${user_id}/hosts/${host_id}/search-queries/popular?date_from=${date}&date_to=${date}&order_by=TOTAL_SHOWS&device_type_indicator=ALL&limit=100&query_indicator=AVG_SHOW_POSITION&query_indicator=TOTAL_CLICKS`

                const options = {
                    headers: {
                        Authorization: 'OAuth ' + this.token
                    },
                    mode: "cors",
                }
                return fetch(this.backend_url + '?url=' + encodeURIComponent(url), options)
            }
        }


        class YandexWebmasterStub {

            getUserId() {
                const data = {
                    user_id: 9793111
                }

                return new Promise((resolve) => { resolve(Response.json(data)) })
            }

            getHosts(user_id) {
                const data = {
                    "hosts": [
                        {
                            "host_id": "https:eleganty.ru:443",
                            "ascii_host_url": "https://eleganty.ru/",
                            "unicode_host_url": "https://eleganty.ru/",
                            "verified": true,
                            "main_mirror": null
                        },
                        {
                            "host_id": "http:eleganty.ru:80",
                            "ascii_host_url": "http://eleganty.ru/",
                            "unicode_host_url": "http://eleganty.ru/",
                            "verified": true,
                            "main_mirror": null
                        },
                        {
                            "host_id": "http:unilook.ru:80",
                            "ascii_host_url": "http://unilook.ru/",
                            "unicode_host_url": "http://unilook.ru/",
                            "verified": true,
                            "main_mirror": null
                        }
                    ]
                }

                return new Promise((resolve) => { resolve(Response.json(data)) })
            }

            getPopularQueries(user_id, host_id, date) {
                const data = {
                    "count": 2,
                    "date_from": date,
                    "date_to": date,
                    "queries": [
                        {
                            "query_id": "ecec0d42afb22f45",
                            "query_text": "цвет волос 2017 модные",
                            "indicators": {
                                "AVG_SHOW_POSITION": Math.round(Math.random() * 100),
                                "TOTAL_CLICKS": Math.round(Math.random() * 20),
                            }
                        },
                        {
                            "query_id": "82dec103cd0c7d34",
                            "query_text": "пыльник женский летний",
                            "indicators": {
                                "AVG_SHOW_POSITION": Math.round(Math.random() * 100),
                                "TOTAL_CLICKS": Math.round(Math.random() * 20),
                            }
                        }
                    ]
                }

                return new Promise((resolve) => { resolve(Response.json(data)) })
            }

        }

        /***************************************************
         *
         * Router
         *
         **/
         const router = createRouter({
            history: createWebHashHistory(),
            routes: [
                { path: '/', component: Home },
                { path: '/token', component: TokenComp },
                { path: '/hosts/:user_id/:host_id', component: HostComp },
            ],
        });


        const rootComp = {
            computed: {
                ...Pinia.mapWritableState(pStore, [
                    'token'
                ]),
                projectName() {
                    return getProjectName()
                },
                projects() {
                    return Object.keys(localStorage).filter(x => x != this.projectName)
                },
                has_token() {
                    return this.token.length > 0
                },
                is_prod() {
                    return is_prod()
                }
            },
            methods: {
                logout() {
                    this.token = ''
                },
            },
            mounted() {
                console.log("is prod", is_prod())
                // const hosts = api.getHosts()
                // console.log(hosts)
                // const report = api.getPopularQueries()
                // console.log(hosts)

                if (is_prod() && !this.has_token) {
                    window.YaAuthSuggest.init(
                        ya_auth_init_config,
                        'https://bloogrox.github.io',
                        ya_auth_button_config
                    )
                    .then(({handler}) => handler())
                    .then(data => {
                        // console.log('Сообщение с токеном', data)
                        this.token = data.access_token
                    })
                    .catch(error => console.log('Обработка ошибки', error))
                }
            },
            created() {
                if (!this.has_token) {
                    console.log("token is empty")
                }
            }
        }


        const app = Vue.createApp(rootComp);
        app.use(pinia);
        app.use(router);
        app.mount("#app");
    </script>
</body>
</html>